<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
          <head>
            <meta charset="utf-8">
          
            <title>Trocar Foto - iÇougue</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            
            <!--FONTE DOS TEXTOS-->
            <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="styles.css">
            
        <script>
            var json_url = "http://localhost:8080/simg"
            fetch(json_url)
            	.then(results => results.json())
            	.then(data => {
            	console.log(data[0].texto)
            	document.querySelector("#debug").innerText = data[0].texto       
            	})
            	
        </script>
          
          </head>
          
          <body>    
       			     <div class="bg">
                <div  class="barsup"></div>
                <span  class="til">CONFIGURAÇÕES</span>
                <div class="formi">
                    <form action="/simg" method="post">
                        <br>
                        <label> Envie seu banner</label>
                        <div id="boxbanner">
                        <img src="../images/atumalacafotosxd.jpg" alt="Banner" width = "1296px" height="187">
                      
                        </div>
                        <br>
                        <!--<input type="file" name="file">-->
                   		<input type="text" name="texto" id="texto">
                   		<input type="submit" value="Salvar" >
                    </form>
                   
               	<div id="debug"></div>
                </div>
                <div  class="bardir"></div>
                <div  class="bistequinha"></div>
                <div  class="barinf"></div>
                <span  class="volt"> ← Voltar </span>
            </div>
          </body>
</html>